@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);


*{
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background: white;
}



#sideMenu{
background: #282639;
position: fixed;
width: 75px;
height: 100%;
top: 0;
left: 0;    
bottom: 0;
   
}

   


.active{
    display: block;
    color: #EAEDF3;
    text-decoration: none;
    padding: 15px 30px;
  font-weight: 300;
     background: #282639;
      // border-right: 5px solid $neonGreen;
      border-left: 5px solid purple;
      border-right: 5px solid purple;
      padding: 15px 30px 15px 25px;
}
nav{
  padding-top: 100px;
}



  .fa{
    color: white;
  font-size: 1.4rem;
  margin-right: .8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}
 

#content-area{
  margin-left: 75px;
  padding: 15px;
}

.heading{
    margin-bottom: 25px;
}

 h1 {
      color: purple;
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 5px;
    }
 p{
      color: #1b1b1b;
      font-size: 0.8rem;
      margin-bottom: 5px;
    }



  .cards{
    overflow: auto;
    margin-bottom:  30px;
}
    .card{
      background: #fff;
      border-radius: 5px;
      padding: 20px;
      overflow: auto;
}

    .user-name{
      font-size: 1rem;
      color: purple;
      display: block;
      text-align: center;
      margin: 10px 0;

    }
    .user-title{
      display: block;
      font-size: 0.8rem;
      text-align: center;
      margin: 10px 0;
    }

    .education{
      font-size: 0.8rem;
      display: inline-block;
      color: black;
    }

    .schools{
      font-size: 0.8rem;
    }

    h6{
      font-size: 0.8rem;
    }

    .date{
      font-size: 1.3rem;
      display: block;
      border-left: 5px solid #92cf48;
      position: relative;
      left: -20px;
      padding: 5px 40px;
      margin: 20px 0;
    }

    .job-type{
      background: orange;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 0.6rem;
      color: white;
      padding: 5px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }
.PASS{
     width: 20px;
	height: 20px;
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #92cf48, #92cf48);
    border-radius: 50%;
    padding: 5px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }
.FAIL{
        width: 20px;
	height: 20px;
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #FF755E, red);
    border-radius: 50%;
    padding: 5px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }

    .location{
      font-size: 0.8rem;
      font-weight: 300;
      display: block;
      margin-bottom: 0.5rem;
    }
    .position{
      font-size: 0.8rem;
      font-weight: 500;
      display: block;
      margin-bottom: 0.5rem;
    }
    .time{
      font-size: 0.8rem;
      font-weight: 300;
      display: block;
      margin-bottom: 0.5rem;
    }


.col-md-2{
  width: 16.66%;
  padding: 0 15px;
  display: inline-block;
  float: left;
}

.col-md-4{
  width: 33%;
  padding: 0 15px;
  display: inline-block;
  float: left;
}

.col-md-3{
  width: 30%;
  padding: 0 15px;
  display: inline-block;
    float: left;
    margin: 0px 20px 10px 20px;
}

.col-md-9{
  width: 75%;
  padding: 0 15px;
  display: inline-block;
  float: left;
}
.col-md-10{
  width: 83.3%;
  padding: 0 15px;
  display: inline-block;
  float: left;
}


.flat-table {

  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  width: 100%;
    
}

#table{
    
    height: 100%;
    
}


th {
    background-color: purple;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 8px 8px;
    text-align: left;
    position: sticky;
    top: 0;
    margin: 0;
  }
tr {
    margin: 10px 10px 10px 10px;
}
 td {
    background-color: white;
     -webkit-font-smoothing: antialiased;
    color: #A9A9A9;
      font-weight: 500;
      font-size: 0.9rem;
    padding: 5px 10px;
  }

.table-row{
    margin: 10px 10px 10px 10px;
}
/*-----------------------------------*/ 
.circle-wrap {
  margin-left: 30px
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
    align-content: center;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #92cf48;
}

/*
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(120deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(165deg);
  }
}
*/


.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.myProgress {
  width: 100%;
  background-color: white;
}

#myBarTotal {
  width: 0;
  height: 8px;
  border-radius: 10%;    
}

#myBarPass {
  width: 0;
  height: 8px;
    border-radius: 10%;  
}

#myBarFail {
  width: 0;
  height: 8px;
    border-radius: 10%;  
}

#myBarUnresolved {
  width: 0;;
  height: 8px;
    border-radius: 10%;  
}

/*______________________________________________________________*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

 
